{
  "presets": [["es2015", { "modules": false }], "react", "stage-1"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "production": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "testing": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
